# Android/Gradle related files
.gradle/
build/
captures/
*.iml
/local.properties
.DS_Store

# Android Studio related files
.idea/
*.ipr
*.iws

# Release artifacts
*.apk
*.aab

# Keystore files
*.keystore
*.jks

# Test results
**/output.json
**/test-results/

# Misc
Thumbs.db

# Firebase config copied to Android app
/mobile/app/google-services.json
